In [110]:
import pandas as pd
from scipy.stats import norm
import math
from scipy.stats.mstats import winsorize

In [111]:
data = pd.read_csv("final_data.csv")

In [112]:
data

,name,Date,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth,W/L
0,hyundai_0,2019-09-30 0:00,0.975610,3.048234,-7.142857,13.178898,16.56,6.13,0
1,hyundai_1,2019-06-28 0:00,-8.374384,-0.634511,15.818182,-11.763193,-6.01,5.12,1
2,hyundai_2,2019-03-29 0:00,-2.727273,0.000000,2.735781,0.000000,-34.26,1.01,1
3,hyundai_3,2018-12-28 0:00,11.061947,0.069947,-7.549963,-4.404573,-34.26,1.01,0
4,hyundai_4,2018-09-28 0:00,-6.965174,1.086317,7.639367,-25.801486,-13.95,4.15,1
...,...,...,...,...,...,...,...,...,...
291,hhi_32,2011-09-30 0:00,17.482517,8.516521,-27.400000,8.694227,-26.24,6.39,0
292,hhi_33,2011-06-30 0:00,18.644068,2.343066,-6.593407,4.813567,20.57,18.46,0
293,hhi_34,2011-03-31 0:00,-3.125000,0.000000,2.798233,0.000000,22.45,9.88,1
294,hhi_35,2010-12-30 0:00,-10.101010,3.773967,4.848485,2.482947,22.45,9.88,1
295,hhi_36,2010-09-30 0:00,-5.504587,4.463924,-35.350318,31.878274,39.37,16.22,1

In [113]:
# Win인 그룹
win_group = data[data['W/L'] == 1]

In [114]:
# Lose인 그룹
lose_group = data[data['W/L'] == 0]

### Win_group result만들기.

In [115]:
# column list로 구하기.
columns = list(data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [116]:
# win_group_result의 결과값을 저장할 dataframe 생성.
win_group_result = pd.DataFrame(columns=columns)

In [117]:
win_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [118]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(winsorize(win_group[column], 0.05).mean()) #mean 추가
    std_list.append(winsorize(win_group[column], 0.05).std()) #std 추가

In [119]:
# 각각 자리에 넣기.
win_group_result.loc[0] = mean_list
win_group_result.loc[1] = std_list

In [120]:
# cateogry column만들기.
win_group_result['category'] = ['mean', 'std']

In [121]:
# column에 category만들기.
columns.insert(0,'category')

In [122]:
win_group_result = win_group_result[columns]

In [123]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.912376,1.575258,3.501042,0.486263,12.365860,7.085096
1,std,7.148527,2.741275,15.818592,19.533586,38.778937,9.459549

### Loss group result만들기.

In [124]:
# column list로 구하기.
columns = list(data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [125]:
# win_group_result의 결과값을 저장할 dataframe 생성.
lose_group_result = pd.DataFrame(columns=columns)

In [126]:
lose_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [127]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(winsorize(lose_group[column], 0.05).mean()) #mean 추가
    std_list.append(winsorize(lose_group[column], 0.05).std()) #std 추가

In [128]:
# 각각 자리에 넣기.
lose_group_result.loc[0] = mean_list
lose_group_result.loc[1] = std_list

In [129]:
# cateogry column만들기.
lose_group_result['category'] = ['mean', 'std']

In [130]:
# column에 category만들기.
columns.insert(0,'category')

In [131]:
lose_group_result = lose_group_result[columns]

In [132]:
lose_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,8.249887,1.894620,-4.130154,-1.095501,13.384317,7.191655
1,std,9.215326,3.348483,23.000125,24.816328,47.549409,9.685198

# WIN_LOSS 계산

In [133]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.912376,1.575258,3.501042,0.486263,12.365860,7.085096
1,std,7.148527,2.741275,15.818592,19.533586,38.778937,9.459549

In [134]:
lose_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,8.249887,1.894620,-4.130154,-1.095501,13.384317,7.191655
1,std,9.215326,3.348483,23.000125,24.816328,47.549409,9.685198

In [135]:
norm.pdf(0.97561,-5.873467,10.650978)

0.030459881364505555

In [136]:
win_group_result.iloc[0,1]

-5.912376423815286

In [137]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.912376,1.575258,3.501042,0.486263,12.365860,7.085096
1,std,7.148527,2.741275,15.818592,19.533586,38.778937,9.459549

In [138]:
test = data.iloc[0][2:-1]

In [139]:
# win_group prob 구하기.

result = 1
for i in range(len(test)):
    prob = norm.pdf(test[i], win_group_result.iloc[0, i+1], win_group_result.iloc[1, i+1])
    result *= prob
    
math.log(result)

-21.1841995137696

In [140]:
# loss_group prob 구하기.

result = 1
for i in range(len(test)):
    prob = norm.pdf(test[i], lose_group_result.iloc[0, i+1], lose_group_result.iloc[1, i+1])
    result *= prob
    
math.log(result)

-21.975518533987167

# Win_Lose dataframe 구하기.

In [141]:
temp_column = ['name','win_prob', 'loss_prob', 'result']

In [142]:
win_lose_cal = pd.DataFrame(columns=temp_column)

In [143]:
win_lose_cal

Empty DataFrame
Columns: [name, win_prob, loss_prob, result]
Index: []

In [144]:
test = data.iloc[0][:-1]
data.iloc[i][0]

'hyundai_5'

In [145]:
# 임의의 win_prob과 loss_prob그리고 결과를 담는 dataframe 만들기.
temp_column = ['name','win_prob', 'loss_prob', 'result']

win_lose_cal = pd.DataFrame(columns=temp_column)

for i in range(len(data)):
    
    temp_col = []
    
    test = data.iloc[i][2:-1]
    
    temp_col.append(data.iloc[i][0]) # 이름 추가
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], win_group_result.iloc[0, j+1], win_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        win_prob = math.log(result)
    except:
        print(result)
        win_prob = -math.inf
        
    temp_col.append(win_prob) # 이길 확률 추가.
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], lose_group_result.iloc[0, j+1], lose_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        lose_prob = math.log(result)
    except:
        print(result)
        lose_prob = -math.inf
        
    temp_col.append(lose_prob) # 질 확률 추가.
    
    # WIN/LOSE 추가
    if win_prob > lose_prob:
        temp_col.append(1)
    elif win_prob < lose_prob:
        temp_col.append(0)
    else:
        temp_col.append('Draw')
        
    
    win_lose_cal.loc[i] = temp_col

0.0
0.0
0.0

In [146]:
# 원래 결과값과 맞는 값
correct_guess = data[data['W/L'] == win_lose_cal['result']]

In [147]:
# 결과값이 틀린 값
wrong_guess = data[data['W/L'] != win_lose_cal['result']]

In [148]:
# 맞는 결과의 개수
len(correct_guess)

210

In [149]:
# 틀린 결과의 개수
len(wrong_guess)

86

In [150]:
accuracy = len(correct_guess) / len(data)
print(accuracy)

0.7094594594594594

# 그룹별 추산

In [151]:
hyundai_data = data[:37]

In [152]:
# Win인 그룹
win_group = hyundai_data[hyundai_data['W/L'] == 1]

In [153]:
# Lose인 그룹
lose_group = hyundai_data[hyundai_data['W/L'] == 0]

### Win_group result만들기.

In [154]:
# column list로 구하기.
columns = list(hyundai_data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [155]:
# win_group_result의 결과값을 저장할 dataframe 생성.
win_group_result = pd.DataFrame(columns=columns)

In [156]:
win_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [157]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(winsorize(win_group[column], 0.05).mean()) #mean 추가
    std_list.append(winsorize(win_group[column], 0.05).std()) #std 추가

In [158]:
# 각각 자리에 넣기.
win_group_result.loc[0] = mean_list
win_group_result.loc[1] = std_list

In [159]:
# cateogry column만들기.
win_group_result['category'] = ['mean', 'std']

In [160]:
# column에 category만들기.
columns.insert(0,'category')

In [161]:
win_group_result = win_group_result[columns]

In [162]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.371314,2.815913,7.135664,-1.990464,3.350000,9.607222
1,std,8.388341,3.335277,6.087558,10.133475,23.029351,9.076606

### Loss group result만들기.

In [163]:
# column list로 구하기.
columns = list(hyundai_data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [164]:
# win_group_result의 결과값을 저장할 dataframe 생성.
lose_group_result = pd.DataFrame(columns=columns)

In [165]:
lose_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [166]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(winsorize(lose_group[column], 0.05).mean()) #mean 추가
    std_list.append(winsorize(lose_group[column], 0.05).std()) #std 추가

In [167]:
# 각각 자리에 넣기.
lose_group_result.loc[0] = mean_list
lose_group_result.loc[1] = std_list

In [168]:
# cateogry column만들기.
lose_group_result['category'] = ['mean', 'std']

In [169]:
# column에 category만들기.
columns.insert(0,'category')

In [170]:
lose_group_result = lose_group_result[columns]

In [171]:
lose_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,9.437034,2.769541,-5.028377,-1.028851,-3.160000,7.032105
1,std,9.160737,3.481256,10.457600,9.315638,23.274264,10.044894

In [172]:
temp_column = ['name','win_prob', 'loss_prob', 'result']

In [173]:
win_lose_cal = pd.DataFrame(columns=temp_column)

In [174]:
win_lose_cal

Empty DataFrame
Columns: [name, win_prob, loss_prob, result]
Index: []

In [175]:
test = data.iloc[0][:-1]
data.iloc[i][0]

'hhi_36'

In [176]:
# 임의의 win_prob과 loss_prob그리고 결과를 담는 dataframe 만들기.
temp_column = ['name','win_prob', 'loss_prob', 'result']

win_lose_cal = pd.DataFrame(columns=temp_column)

for i in range(len(hyundai_data)):
    
    temp_col = []
    
    test = hyundai_data.iloc[i][2:-1]
    
    temp_col.append(hyundai_data.iloc[i][0]) # 이름 추가
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], win_group_result.iloc[0, j+1], win_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        win_prob = math.log(result)
    except:
        print(result)
        win_prob = -math.inf
        
    temp_col.append(win_prob) # 이길 확률 추가.
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], lose_group_result.iloc[0, j+1], lose_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        lose_prob = math.log(result)
    except:
        print(result)
        lose_prob = -math.inf
        
    temp_col.append(lose_prob) # 질 확률 추가.
    
    # WIN/LOSE 추가
    if win_prob > lose_prob:
        temp_col.append(1)
    elif win_prob < lose_prob:
        temp_col.append(0)
    else:
        temp_col.append('Draw')
        
    
    win_lose_cal.loc[i] = temp_col

In [177]:
# 원래 결과값과 맞는 값
correct_guess = hyundai_data[hyundai_data['W/L'] == win_lose_cal['result']]

In [178]:
# 결과값이 틀린 값
wrong_guess = hyundai_data[hyundai_data['W/L'] != win_lose_cal['result']]

In [179]:
# 맞는 결과의 개수
len(correct_guess)

35

In [180]:
# 틀린 결과의 개수
len(wrong_guess)

2

In [181]:
accuracy = len(correct_guess) / len(data)
print(accuracy)

0.11824324324324324