In [106]:
import pandas as pd
from scipy.stats import norm
import math

In [2]:
data = pd.read_csv("final_data.csv")

In [5]:
data

,name,Date,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth,W/L
0,hyundai_0,2019-09-30 0:00,0.975610,3.048234,-7.142857,13.178898,16.56,6.13,0
1,hyundai_1,2019-06-28 0:00,-8.374384,-0.634511,15.818182,-11.763193,-6.01,5.12,1
2,hyundai_2,2019-03-29 0:00,-2.727273,0.000000,2.735781,0.000000,-34.26,1.01,1
3,hyundai_3,2018-12-28 0:00,11.061947,0.069947,-7.549963,-4.404573,-34.26,1.01,0
4,hyundai_4,2018-09-28 0:00,-6.965174,1.086317,7.639367,-25.801486,-13.95,4.15,1
...,...,...,...,...,...,...,...,...,...
291,hhi_32,2011-09-30 0:00,17.482517,8.516521,-27.400000,8.694227,-26.24,6.39,0
292,hhi_33,2011-06-30 0:00,18.644068,2.343066,-6.593407,4.813567,20.57,18.46,0
293,hhi_34,2011-03-31 0:00,-3.125000,0.000000,2.798233,0.000000,22.45,9.88,1
294,hhi_35,2010-12-30 0:00,-10.101010,3.773967,4.848485,2.482947,22.45,9.88,1
295,hhi_36,2010-09-30 0:00,-5.504587,4.463924,-35.350318,31.878274,39.37,16.22,1

In [9]:
# Win인 그룹
win_group = data[data['W/L'] == 1]

In [10]:
# Lose인 그룹
lose_group = data[data['W/L'] == 0]

### Win_group result만들기.

In [22]:
# column list로 구하기.
columns = list(data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [27]:
# win_group_result의 결과값을 저장할 dataframe 생성.
win_group_result = pd.DataFrame(columns=columns)

In [29]:
win_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [39]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(win_group[column].mean()) #mean 추가
    std_list.append(win_group[column].std()) #std 추가

In [40]:
# 각각 자리에 넣기.
win_group_result.loc[0] = mean_list
win_group_result.loc[1] = std_list

In [42]:
# cateogry column만들기.
win_group_result['category'] = ['mean', 'std']

In [61]:
# column에 category만들기.
columns.insert(0,'category')

In [64]:
win_group_result = win_group_result[columns]

In [65]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.873467,1.23825,2.007625,-3.811219,19.462038,7.363057
1,std,10.650978,6.51814,28.396892,58.094088,98.148602,12.122942

### Loss group result만들기.

In [66]:
# column list로 구하기.
columns = list(data.columns)

# 필요없는 column 삭제
columns.remove('name')
columns.remove('Date')
columns.remove('W/L')

In [67]:
# win_group_result의 결과값을 저장할 dataframe 생성.
lose_group_result = pd.DataFrame(columns=columns)

In [68]:
lose_group_result

Empty DataFrame
Columns: [Divedend_yield_ratio_growth, BPS_growth, PER_growth, EPS_growth, Profit_growth, Revenue_growth]
Index: []

In [69]:
mean_list = []
std_list = []
    
for column in columns:
    mean_list.append(lose_group[column].mean()) #mean 추가
    std_list.append(lose_group[column].std()) #std 추가

In [70]:
# 각각 자리에 넣기.
lose_group_result.loc[0] = mean_list
lose_group_result.loc[1] = std_list

In [71]:
# cateogry column만들기.
lose_group_result['category'] = ['mean', 'std']

In [72]:
# column에 category만들기.
columns.insert(0,'category')

In [73]:
lose_group_result = lose_group_result[columns]

In [74]:
lose_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,8.647425,1.635167,7.803929,-20.833819,34.004317,7.116187
1,std,11.954154,9.291772,128.376318,269.897764,166.786023,11.895610

# WIN_LOSS 계산

In [75]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.873467,1.23825,2.007625,-3.811219,19.462038,7.363057
1,std,10.650978,6.51814,28.396892,58.094088,98.148602,12.122942

In [76]:
lose_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,8.647425,1.635167,7.803929,-20.833819,34.004317,7.116187
1,std,11.954154,9.291772,128.376318,269.897764,166.786023,11.895610

In [81]:
norm.pdf(0.97561,-5.873467,10.650978)

0.030459881364505555

In [ ]:
norm.pdf()

In [105]:
win_group_result.iloc[0,1]

-5.873466993171975

In [100]:
win_group_result

,category,Divedend_yield_ratio_growth,BPS_growth,PER_growth,EPS_growth,Profit_growth,Revenue_growth
0,mean,-5.873467,1.23825,2.007625,-3.811219,19.462038,7.363057
1,std,10.650978,6.51814,28.396892,58.094088,98.148602,12.122942

In [89]:
test = data.iloc[0][2:-1]

In [108]:
# win_group prob 구하기.

result = 1
for i in range(len(test)):
    prob = norm.pdf(test[i], win_group_result.iloc[0, i+1], win_group_result.iloc[1, i+1])
    result *= prob
    
math.log(result)

-24.589400395143617

In [109]:
# loss_group prob 구하기.

result = 1
for i in range(len(test)):
    prob = norm.pdf(test[i], lose_group_result.iloc[0, i+1], lose_group_result.iloc[1, i+1])
    result *= prob
    
math.log(result)

-28.51085229220576

# Win_Lose dataframe 구하기.

In [119]:
temp_column = ['name','win_prob', 'loss_prob', 'result']

In [120]:
win_lose_cal = pd.DataFrame(columns=temp_column)

In [121]:
win_lose_cal

Empty DataFrame
Columns: [name, win_prob, loss_prob, result]
Index: []

In [125]:
test = data.iloc[0][:-1]
data.iloc[i][0]

'hhi_36'

In [131]:
# 임의의 win_prob과 loss_prob그리고 결과를 담는 dataframe 만들기.
temp_column = ['name','win_prob', 'loss_prob', 'result']

win_lose_cal = pd.DataFrame(columns=temp_column)

for i in range(len(data)):
    
    temp_col = []
    
    test = data.iloc[i][2:-1]
    
    temp_col.append(data.iloc[i][0]) # 이름 추가
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], win_group_result.iloc[0, j+1], win_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        win_prob = math.log(result)
    except:
        print(result)
        win_prob = -math.inf
        
    temp_col.append(win_prob) # 이길 확률 추가.
    
    result = 1
    
    for j in range(len(test)):
        prob = norm.pdf(test[j], lose_group_result.iloc[0, j+1], lose_group_result.iloc[1, j+1])
        result *= prob
    
    try:
        lose_prob = math.log(result)
    except:
        print(result)
        lose_prob = -math.inf
        
    temp_col.append(lose_prob) # 질 확률 추가.
    
    # WIN/LOSE 추가
    if win_prob > lose_prob:
        temp_col.append(1)
    elif win_prob < lose_prob:
        temp_col.append(0)
    else:
        temp_col.append('Draw')
        
    
    win_lose_cal.loc[i] = temp_col

0.0

In [168]:
# 원래 결과값과 맞는 값
correct_guess = data[data['W/L'] == win_lose_cal['result']]

In [169]:
# 결과값이 틀린 값
wrong_guess = data[data['W/L'] != win_lose_cal['result']]

In [170]:
# 맞는 결과의 개수
len(correct_guess)

170

In [171]:
# 틀린 결과의 개수
len(wrong_guess)

126